 
 <link rel="stylesheet" type="text/css" href="<%= assetPath('css/comment.css') %>">
          
  <li id="comment-<%=comment._id%>" class="comment-style">



        <small id="comment-content">
        <%= comment.content %>
        </small>
        <% if(locals.user && locals.user.id == comment.user.id){ %>
              <small>
                <a class ="delete-comment-button" href="/comments/destroy/<%=comment._id%> ">X</a>
              </small>
        <% } %>
        <br>
        <small id="commenter">
          <%= comment.user.name %>
        </small>

  <small class="like">
  <% if(locals.user){ %>
   <a class="toggle-like-button" data-likes="<%= comment.like.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
      <%= comment.like.length %> <span class="heart"> ♥️ </span>
   </a>
  <% }else{ %>
      <%= comment.like.length %> ♥️ 
  <% } %>
  </small>

       </li>
                              
