
   <link rel="stylesheet" type="text/css" href="<%= assetPath('css/home.css') %>">

   <div id="home-container">

   <section id="feed-posts">

     <h4>Posts</h4>
     
     <% if(locals.user){ %>

     <form action="/posts/create" id="new-post-form" method="POST">
         
       <textarea id="create-post" name="content" cols="30" rows="5" placeholder="Share your thoughts here..." required></textarea>
       <input id="post-btn" type="submit" value="Post">

     </form>  
     <% } %>

     <div id="posts-list-container">

      <ul>
           <% for(post of posts){ %>

             <%- include('_post') -%>

           <% } %>

      </ul>
       
     </div>

   </section>



   <section id="users-container">

     <!-- If user is signed in then show his/her friends -->
        <% if(locals.user){ %>
        <div id="users-friends" class="user-head">
            <h4>Friends</h4>

            <% for(friend of loggedInUser.friendships){%>
                <!-- if User himself had sent the request -->
                <% if(locals.user.id == friend.from_user.id){ %>
                    <!-- then friend details are in to_user object -->
                    <p id="friend-<%= friend.to_user.id %>" class="friends-of-user">
                        <a class="user-name" href="/users/profile/<%= friend.to_user.id %>"><%= friend.to_user.name %></a>
                        <a class="remove-friend-button" href="/friendships/toggle/<%= friend.to_user.id %>">
                            <button type="button">
                               X
                            </button>
                        </a>
                    </p>
                <% }else{ %>
                    <!-- then friend details are in from_user object -->
                    <p id="friend-<%= friend.from_user.id %>" class="friends-of-user">
                        <a class="user-name"  href="/users/profile/<%= friend.from_user.id %>"><%= friend.from_user.name %></a>
                        <a class="remove-friend-button" href="/friendships/toggle/<%= friend.from_user.id %>">
                            <button type="button">
                                X
                            </button>
                        </a>
                    </p>
                <% } %>

                
            <% } %>
        </div>
        <% } %>

      <div id="all-users"  class="user-head">

      <h4>All Users</h4>

      <% for(u of all_users){ %>

        <p>
          <a class="user-name" href="/users/profile/<%= u.id %>"> <%= u.name %> </a>
        </p>

      <% } %>

      </div>

   </section>


      <%- include('_chat_box') -%>

 </div>

<!-- importing this script for creating the post and comments through AJAX-->
<script src="<%= assetPath('js/home_comments.js') %>" ></script>  
<script src="<%= assetPath('js/home_posts.js') %>"></script>
  

 <!-- import the script file for toggle likes, also run it over for the already present posts and comments on the page -->

 <script src="<%= assetPath('js/toggle_likes.js') %>"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>

<script src="<%= assetPath('js/friendship.js') %>"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script type="text/javascript" src="<%= assetPath('js/chat_engine.js') %>"></script>

<% if (locals.user){ %>
<script>
    new ChatEngine('user-chat-box', '<%= locals.user.email %>')
</script>
<% } %>
